/*General rules for the page*/
html {
  font-size: 16px;
  font-family: Helvetica, Georgia, impact, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0px;
}
body {
  /*display: flex;
  flex-direction: column;*/
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}
div {
  display: block;
}
h1, h4 {
  font-weight: bold;
}
/*.info span {
  color: black;
}*/
p {
  color: black;
  text-align: left;
}
/*.site-container {
  width: 960px;
  margin: auto;
}*/
.container {
  max-width: 960px;
  margin: auto;
}
/*Header section*/
.company {
  background-color: black;
  color: white;
  /*height: 4rem;
  width: 100%;*/
}

.company .container {
  display: flex;
  padding: 12px 0 12px 0.5em;
  align-items: center;
}
.company img {
  /*width: 2rem;*/
  height:1.5rem;
  padding-right: 15px;
}
/*header h2 {
  font-size: 1.25rem;
}*/
/*New Section & Background Image*/
.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 100%;*/
  height: 25rem;
}
.headline {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2em 3em;
  position: relative;
  top: 9em;
  border-radius: 50px 0;
}
.headline h4 {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
}
.headline h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
/*Navigation Bar*/
.navigation {
  background-color: firebrick;

}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
  list-style: none;
}
nav li {
  margin: 0.75rem 0;
}
nav li:hover {
  background-color: white;
  font-size: 1.25rem;
  font-family: impact;
  color: firebrick;
  padding: 0.75rem;
  border-radius: 25px 0;
}
.mobile-nav {
  display: none;
}
/*Main Section & Images*/
.container .images, .details {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}
/*.images .box {
  border: 4px solid black;
}*/
.product {
  width: 30%;
}
.product-image {
  border: 4px solid black;
  overflow: hidden;
}
.product-image img {
  height: 9rem;
  width: 9rem;
  margin: 2rem 0;
}
.product span, .title {
  background-color: black;
  padding: 0.5em;
  display: block;
}
.info {
  width: 35%;
}

/*Footer*/
footer {
  background-color: black;
}
footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  margin-top: 4rem;
}
footer p {
  color: white;
  text-align: left;
}
/*Media Queries Tablet*/
@media only screen and(min-width: 481px), (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: none;
  }
  .product {
    width: 47%;
  }
  .product:nth-child(3) {
    display: none;
  }
  .headline {
    margin: auto;
  }
}
/*Media Queries Mobile*/
@media only screen and (max-width: 470px) {
    .container .images {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .product {
      width: 90%;
    }
    body {
      background-color: gray;
      font-family: Helvetica;
      font-weight: bold;
    }
    .product-image {
      background-color: white;
    }
    .headline {
      width: inherit;
      height: auto;
      margin: 0px;
      padding: 10px;
      border-radius: 0;
      position: absolute;

    }
    .main-banner {
      height: 15rem;
    }
    .headline h4 {
      font-size: 0.77rem;
    }
    .headline h1 {
      font-size: 1rem;
    }
    .company span {
      display: none;
    }
    .company {
      display: flex;
    }
    .container .details {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .details .info {
      width: 90%;
      margin: auto;
    }
    .info p {
      text-align: center;
      margin: 10px;
    }
}
