html,
  body {
  font-size: 15px;
  font-family: Verdana, Helvetica, Georgia, impact, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0px;
}
/*Header section*/
header  {
  background-color: black;
  height: 4rem;
  width: 100%;
}

#header {
  display: flex;
  align-items:center;
}
#header img {
  width: 2rem;
  height:auto;
}
/*New Section & Background Image*/
/*Navigation Bar*/
/*Main Section & Images*/
/*Footer*/
